# 1.  Importing the relevant libraries and data 

Let us first start with the usual importing of relevant libraries which will be required for our analysis. We shall import the data into the dataframe name df

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df=pd.read_csv('Placement_Data_Full_Class.csv')
df.head()

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0

In [3]:
df_copy=df.copy()

# 2. Data wrangling

Since the raw data could have lots of missing values or other issues, we will be taking care to align the data into simpler more understandable and clear data which will be further helpful to be used in our ML models. Since the columns have not been clearly mentioned as to what they exactly mean, I have made the following assumptions to understand the data better:

* 'ssc_p': 10th Grade percentage
* 'ssc_b':10th Grade board 
* 'hsc_p': 12th Grade percentage 
* 'hsc_b': 12th Grade board 
* 'hsc_s': Higher secondary stream
* 'degree_p': Undergraduate percentage 
* 'degree_t': Undergraduate degree type  
* 'workex': Work experience  
* 'etest_p':Placement test percentage 
* 'specialisation': MBA specialisation 
* 'mba_p': MBA percentage
* 'status': Hiring status

In [4]:
df['sl_no'].unique().size

215

The data give to us has a total of 215 entries. This is roughly the size of a MBA batch for a particular year of a college. Hence, the data provided could be that for the batch of a particular year.

Let us check the various data types available to us and see if there are any missing values.

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 15 columns):
sl_no             215 non-null int64
gender            215 non-null object
ssc_p             215 non-null float64
ssc_b             215 non-null object
hsc_p             215 non-null float64
hsc_b             215 non-null object
hsc_s             215 non-null object
degree_p          215 non-null float64
degree_t          215 non-null object
workex            215 non-null object
etest_p           215 non-null float64
specialisation    215 non-null object
mba_p             215 non-null float64
status            215 non-null object
salary            148 non-null float64
dtypes: float64(6), int64(1), object(8)
memory usage: 25.3+ KB

## Salary

As we can clearly see, the only missing values present are in the salary column. This is because the missing values are corresponding to students to did not get placed in the placement program. 

We will make the assumption that the missing values are filled with 0.

In [6]:
df['salary'].fillna(0,inplace=True)
df['salary'].isna().any()

False

In [25]:
df_copy['salary'].median()

265000.0

So, we have replaced all the missing values with the median value of Rs. 2,65,000

## Gender

Gender column is straightforward with either Male (M) or Female (F) indices.
Since we cannot leave the data in object form, let us replace 

**M with 0** and **F with 1** .

In [8]:
df['gender']=df['gender'].map({'M':0,'F':1})

In [9]:
df.head()

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,0,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,0,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,0,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,0,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,0.0
4,5,0,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0

## ssc_b and hsc_b

Here, we are presented with the data of the 10th board. Let us check the unique entries and their counts we are presented with.

In [10]:
df['ssc_b'].value_counts()

Central    116
Others      99
Name: ssc_b, dtype: int64

As we can observe, the unique entries are either Central or others. By Central, the indication must be that the board is CBSE. While others could mean variety of boards such as state board, international board or ICSC board. The candidates with central board is slightly higher as compared to other boards. 

We shall perform the exact same treatment as we did for gender.

**Central : 1
Others : 0**

In [11]:
df['ssc_b']=df['ssc_b'].map({'Central':1,'Others':0})

In [12]:
df['hsc_b']=df['hsc_b'].map({'Central':1,'Others':0})

## hsc_s

This column deals with the specialisation subjects taken by students when they enter 11th grade. Let us see the various entries alongwith their counts.

In [13]:
df['hsc_s'].value_counts()

Commerce    113
Science      91
Arts         11
Name: hsc_s, dtype: int64

As can be seen, students with commerce specialisation was highest followed by science and arts.

We shall use one-hot-encoding for this particular feature. This can be done using the pd.get_dummies function.

In [14]:
df_subjects=pd.get_dummies(df['hsc_s'])
df=df.merge(df_subjects,on=df.index)

In [15]:
df.drop('key_0',axis=1,inplace=True)
df.drop('hsc_s',axis=1,inplace=True)

In [16]:
df.columns

Index(['sl_no', 'gender', 'ssc_p', 'ssc_b', 'hsc_p', 'hsc_b', 'degree_p',
       'degree_t', 'workex', 'etest_p', 'specialisation', 'mba_p', 'status',
       'salary', 'Arts', 'Commerce', 'Science'],
      dtype='object')

In [17]:
df=df[['sl_no', 'gender', 'ssc_p', 'ssc_b', 'hsc_p', 'hsc_b', 'Arts', 'Commerce','Science','degree_p',
       'degree_t', 'workex', 'etest_p', 'specialisation', 'mba_p', 'status',
       'salary']]

## degree_t

Let us check the various types of Undergrad degrees available in the data.

In [18]:
df['degree_t'].value_counts()

Comm&Mgmt    145
Sci&Tech      59
Others        11
Name: degree_t, dtype: int64

As we can see, most students had their undergraduate degrees in commerce and management followed by science and then others. Just as we did for higher secondary subjects, we shall one hot encode the results of undergrad degrees aswell.

In [19]:
df_deg=pd.get_dummies(df['degree_t'])
df=df.merge(df_deg,on=df.index)

In [20]:
df.drop('key_0',axis=1,inplace=True)
df.drop('degree_t',axis=1,inplace=True)

In [21]:
df.columns

Index(['sl_no', 'gender', 'ssc_p', 'ssc_b', 'hsc_p', 'hsc_b', 'Arts',
       'Commerce', 'Science', 'degree_p', 'workex', 'etest_p',
       'specialisation', 'mba_p', 'status', 'salary', 'Comm&Mgmt', 'Others',
       'Sci&Tech'],
      dtype='object')

In [22]:
df=df[['sl_no', 'gender', 'ssc_p', 'ssc_b', 'hsc_p', 'hsc_b', 'Arts',
       'Commerce', 'Science', 'degree_p','Comm&Mgmt', 'Others',
       'Sci&Tech','workex', 'etest_p',
       'specialisation', 'mba_p', 'status', 'salary']]

In [23]:
df

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,Arts,Commerce,Science,degree_p,Comm&Mgmt,Others,Sci&Tech,workex,etest_p,specialisation,mba_p,status,salary
0,1,0,67.00,0,91.00,0,0,1,0,58.00,0,0,1,No,55.00,Mkt&HR,58.80,Placed,270000.0
1,2,0,79.33,1,78.33,0,0,0,1,77.48,0,0,1,Yes,86.50,Mkt&Fin,66.28,Placed,200000.0
2,3,0,65.00,1,68.00,1,1,0,0,64.00,1,0,0,No,75.00,Mkt&Fin,57.80,Placed,250000.0
3,4,0,56.00,1,52.00,1,0,0,1,52.00,0,0,1,No,66.00,Mkt&HR,59.43,Not Placed,0.0
4,5,0,85.80,1,73.60,1,0,1,0,73.30,1,0,0,No,96.80,Mkt&Fin,55.50,Placed,425000.0
5,6,0,55.00,0,49.80,0,0,0,1,67.25,0,0,1,Yes,55.00,Mkt&Fin,51.58,Not Placed,0.0
6,7,1,46.00,0,49.20,0,0,1,0,79.00,1,0,0,No,74.28,Mkt&Fin,53.29,Not Placed,0.0
7,8,0,82.00,1,64.00,1,0,0,1,66.00,0,0,1,Yes,67.00,Mkt&Fin,62.14,Placed,252000.0
8,9,0,73.00,1,79.00,1,0,1,0,72.00,1,0,0,No,91.34,Mkt&Fin,61.29,Placed,231000.0
9,10,0,58.00,1,70.00,1,0,1,0,61.00,1,0,0,No,54.00,Mkt&Fin,52.21,Not Placed,0.0
10,11,0,58.00,1,61.00,1,0,1,0,60.00,1,0,0,Yes,62.00,Mkt&HR,60.85,Placed,260000.0
11,12,0,69.60,1,68.40,1,0,1,0,78.30,1,0,0,Yes,60.00,Mkt&Fin,63.70,Placed,250000.0
12,13,1,47.00,1,55.00,0,0,0,1,65.00,1,0,0,No,62.00,Mkt&HR,65.04,Not Placed,0.0
13,14,1,77.00,1,87.00,1,0,1,0,59.00,1,0,0,No,68.00,Mkt&Fin,68.63,Placed,218000.0
14,15,0,62.00,1,47.00,1,0,1,0,50.00,1,0,0,No,76.00,Mkt&HR,54.96,Not Placed,0.0
15,16,1,65.00,1,75.00,1,0,1,0,69.00,1,0,0,Yes,72.00,Mkt&Fin,64.66,Placed,200000.0
16,17,0,63.00,1,66.20,1,0,1,0,65.60,1,0,0,Yes,60.00,Mkt&Fin,62.54,Placed,300000.0
17,18,1,55.00,1,67.00,1,0,1,0,64.00,1,0,0,No,60.00,Mkt&Fin,67.28,Not Placed,0.0
18,19,1,63.00,1,66.00,1,0,1,0,64.00,1,0,0,No,68.00,Mkt&HR,64.08,Not Placed,0.0
19,20,0,60.00,0,67.00,0,1,0,0,70.00,1,0,0,Yes,50.48,Mkt&Fin,77.89,Placed,236000.0
20,21,0,62.00,0,65.00,0,0,1,0,66.00,1,0,0,No,50.00,Mkt&HR,56.70,Placed,265000.0
21,22,1,79.00,0,76.00,0,0,1,0,85.00,1,0,0,No,95.00,Mkt&Fin,69.06,Placed,393000.0
22,23,1,69.80,0,60.80,0,0,0,1,72.23,0,0,1,No,55.53,Mkt&HR,68.81,Placed,360000.0
23,24,1,77.40,0,60.00,0,0,0,1,64.74,0,0,1,Yes,92.00,Mkt&Fin,63.62,Placed,300000.0
24,25,0,76.50,0,97.70,0,0,0,1,78.86,0,0,1,No,97.40,Mkt&Fin,74.01,Placed,360000.0
25,26,1,52.58,0,54.60,1,0,1,0,50.20,1,0,0,Yes,76.00,Mkt&Fin,65.33,Not Placed,0.0
26,27,0,71.00,0,79.00,0,0,1,0,66.00,1,0,0,Yes,94.00,Mkt&Fin,57.55,Placed,240000.0
27,28,0,63.00,0,67.00,0,0,1,0,66.00,1,0,0,No,68.00,Mkt&HR,57.69,Placed,265000.0
28,29,0,76.76,0,76.50,0,0,1,0,67.50,1,0,0,Yes,73.35,Mkt&Fin,64.15,Placed,350000.0
29,30,0,62.00,1,67.00,1,0,1,0,58.00,1,0,0,No,77.00,Mkt&Fin,51.29,Not Placed,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,186,1,88.00,1,72.00,1,0,0,1,78.00,0,1,0,No,82.00,Mkt&HR,71.43,Placed,252000.0
186,187,1,52.00,1,64.00,1,0,1,0,61.00,1,0,0,No,55.00,Mkt&Fin,62.93,Not Placed,0.0
187,188,0,78.50,1,65.50,1,0,0,1,67.00,0,0,1,Yes,95.00,Mkt&Fin,64.86,Placed,280000.0
188,189,0,61.80,0,47.00,0,0,1,0,54.38,1,0,0,No,57.00,Mkt&Fin,56.13,Not Placed,0.0
189,190,1,54.00,1,77.60,0,0,1,0,69.20,1,0,0,No,95.65,Mkt&Fin,66.94,Not Placed,0.0
190,191,1,64.00,0,70.20,1,0,1,0,61.00,1,0,0,No,50.00,Mkt&Fin,62.50,Not Placed,0.0
191,192,0,67.00,0,61.00,1,0,0,1,72.00,1,0,0,No,72.00,Mkt&Fin,61.01,Placed,264000.0
192,193,0,65.20,1,61.40,1,0,1,0,64.80,1,0,0,Yes,93.40,Mkt&Fin,57.34,Placed,270000.0
193,194,1,60.00,1,63.00,1,1,0,0,56.00,0,1,0,Yes,80.00,Mkt&HR,56.63,Placed,300000.0
194,195,0,52.00,0,55.00,0,0,1,0,56.30,1,0,0,No,59.00,Mkt&Fin,64.74,Not Placed,0.0
195,196,0,66.00,1,76.00,1,0,1,0,72.00,1,0,0,Yes,84.00,Mkt&HR,58.95,Placed,275000.0
196,197,0,72.00,0,63.00,0,0,0,1,77.50,0,0,1,Yes,78.00,Mkt&Fin,54.48,Placed,250000.0
197,198,1,83.96,0,53.00,0,0,0,1,91.00,0,0,1,No,59.32,Mkt&HR,69.71,Placed,260000.0
198,199,1,67.00,1,70.00,1,0,1,0,65.00,0,1,0,No,88.00,Mkt&HR,71.96,Not Placed,0.0
199,200,0,69.00,0,65.00,0,0,1,0,57.00,1,0,0,No,73.00,Mkt&HR,55.80,Placed,265000.0
200,201,0,69.00,0,60.00,0,0,1,0,65.00,1,0,0,No,87.55,Mkt&Fin,52.81,Placed,300000.0
201,202,0,54.20,1,63.00,0,0,0,1,58.00,1,0,0,No,79.00,Mkt&HR,58.44,Not Placed,0.0
202,203,0,70.00,1,63.00,1,0,0,1,66.00,0,0,1,No,61.28,Mkt&HR,60.11,Placed,240000.0
203,204,0,55.68,0,61.33,0,0,1,0,56.87,1,0,0,No,66.00,Mkt&HR,58.30,Placed,260000.0
204,205,1,74.00,0,73.00,0,0,1,0,73.00,1,0,0,Yes,80.00,Mkt&Fin,67.69,Placed,210000.0
205,206,0,61.00,0,62.00,0,0,1,0,65.00,1,0,0,No,62.00,Mkt&Fin,56.81,Placed,250000.0
206,207,0,41.00,1,42.00,1,0,0,1,60.00,1,0,0,No,97.00,Mkt&Fin,53.39,Not Placed,0.0
207,208,0,83.33,1,78.00,0,0,1,0,61.00,1,0,0,Yes,88.56,Mkt&Fin,71.55,Placed,300000.0
208,209,1,43.00,1,60.00,0,0,0,1,65.00,1,0,0,No,92.66,Mkt&HR,62.92,Not Placed,0.0
209,210,0,62.00,1,72.00,1,0,1,0,65.00,1,0,0,No,67.00,Mkt&Fin,56.49,Placed,216000.0
210,211,0,80.60,0,82.00,0,0,1,0,77.60,1,0,0,No,91.00,Mkt&Fin,74.49,Placed,400000.0
211,212,0,58.00,0,60.00,0,0,0,1,72.00,0,0,1,No,74.00,Mkt&Fin,53.62,Placed,275000.0
212,213,0,67.00,0,67.00,0,0,1,0,73.00,1,0,0,Yes,59.00,Mkt&Fin,69.72,Placed,295000.0
213,214,1,74.00,0,66.00,0,0,1,0,58.00,1,0,0,No,70.00,Mkt&HR,60.23,Placed,204000.0
214,215,0,62.00,1,58.00,0,0,0,1,53.00,1,0,0,No,89.00,Mkt&HR,60.22,Not Placed,0.0

## workex

This column tells us if a student has any work experience prior to joining the MBA programme.

We shall map the entries as

**Yes:1
No:0**

In [24]:
df['workex']=df['workex'].map({'Yes':1,'No':0})
df.head()

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,Arts,Commerce,Science,degree_p,Comm&Mgmt,Others,Sci&Tech,workex,etest_p,specialisation,mba_p,status,salary
0,1,0,67.00,0,91.00,0,0,1,0,58.00,0,0,1,0,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,0,79.33,1,78.33,0,0,0,1,77.48,0,0,1,1,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,0,65.00,1,68.00,1,1,0,0,64.00,1,0,0,0,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,0,56.00,1,52.00,1,0,0,1,52.00,0,0,1,0,66.0,Mkt&HR,59.43,Not Placed,0.0
4,5,0,85.80,1,73.60,1,0,1,0,73.30,1,0,0,0,96.8,Mkt&Fin,55.50,Placed,425000.0

## specialisation

This column tells us about the type of MBA program the student is currently enrolled in. The value counts for each specialisation are as follows.

In [27]:
df['specialisation'].value_counts()

Mkt&Fin    120
Mkt&HR      95
Name: specialisation, dtype: int64

Hence, majority of the students were in Marketing and Finance while the remaining in Marketing and HR.

We should encode the data as 

**Mkt&Fin : 1
Mkt&HR : 0**

In [29]:
df['specialisation']=df['specialisation'].map({'Mkt&Fin':1,'Mkt&HR':0})

## status

This column tells us whether the student got placed in the placement program. This is our target variable which is important for training and testing purpose in the ML phase.

Let us map the terms placed and unplaced as 

**Placed : 1
Not Placed : 0**

In [31]:
df['status'].value_counts()

Placed        148
Not Placed     67
Name: status, dtype: int64

In [32]:
df['status']=df['status'].map({'Placed':1,'Not Placed':0})

Now, we can consider the data to be cleaned completely off any issues and can be safely used for visualisation and machine learning purposes. Let us take a peek at how the final dataframe looks like.

In [33]:
df.head()

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,Arts,Commerce,Science,degree_p,Comm&Mgmt,Others,Sci&Tech,workex,etest_p,specialisation,mba_p,status,salary
0,1,0,67.00,0,91.00,0,0,1,0,58.00,0,0,1,0,55.0,0,58.80,1,270000.0
1,2,0,79.33,1,78.33,0,0,0,1,77.48,0,0,1,1,86.5,1,66.28,1,200000.0
2,3,0,65.00,1,68.00,1,1,0,0,64.00,1,0,0,0,75.0,1,57.80,1,250000.0
3,4,0,56.00,1,52.00,1,0,0,1,52.00,0,0,1,0,66.0,0,59.43,0,0.0
4,5,0,85.80,1,73.60,1,0,1,0,73.30,1,0,0,0,96.8,1,55.50,1,425000.0